{:http
 {:port #long #or [#env PORT 3000]
  :host "0.0.0.0"
  :path "/"}
 :telnet
 {:host    "ssd.jpl.nasa.gov"
  :port    6775
  :timeout 5000}
 :parser
 {:grammar-specification "resources/horizons.bnf"
  :supported-bodies #{199 299 399 499 599 699 799 899}}}
