[:S " Multiple major-bodies match string \"*\""

"  ID#      Name                               Designation  IAU/aliases/other"
"  -------  ---------------------------------- -----------  -------------------"
"        0  Solar System Barycenter                         SSB"
"        1  Mercury Barycenter"
"        2  Venus Barycenter"
"        3  Earth-Moon Barycenter                           EMB"
"        4  Mars Barycenter"
"        5  Jupiter Barycenter"
"        6  Saturn Barycenter"
"        7  Uranus Barycenter"
"        8  Neptune Barycenter"
"        9  Pluto Barycenter"
"       10  Sun                                             Sol"
"      199  Mercury"
"      299  Venus"
"      301  Moon                                            Luna"
"      391  L1                                              S-E-M Lagrangian"
"      392  L2                                              S-E-M Lagrangian"
"      394  L4                                              S-E-M Lagrangian"
"      395  L5                                              S-E-M Lagrangian"
"      399  Earth                                           Geocenter"
"      401  Phobos                                          MI"
"      402  Deimos                                          MII"
"      499  Mars"
"      501  Io                                              JI"
"      502  Europa                                          JII"
"      503  Ganymede                                        JIII"
"      504  Callisto                                        JIV"
"      505  Amalthea                                        JV"
"      506  Himalia                                         JVI"
"      507  Elara                                           JVII"
"      508  Pasiphae                                        JVIII"
"      509  Sinope                                          JIX"
"      510  Lysithea                                        JX"
"      511  Carme                                           JXI"
"      512  Ananke                                          JXII"
"      513  Leda                                            JXIII"
"      514  Thebe                                           JXIV"
"      515  Adrastea                                        JXV"
"      516  Metis                                           JXVI"
"      517  Callirrhoe                         1999J1       JXVII"
"      518  Themisto                           1975J1       JXVIII 2000J1"
"      519  Megaclite                          2000J8       JXIX"
"      520  Taygete                            2000J9       JXX"
"      521  Chaldene                           2000J10      JXXI"
"      522  Harpalyke                          2000J5       JXXII"
"      523  Kalyke                             2000J2       JXXIII"
"      524  Iocaste                            2000J3       JXXIV"
"      525  Erinome                            2000J4       JXXV"
"      526  Isonoe                             2000J6       JXXVI"
"      527  Praxidike                          2000J7       JXXVII"
"      528  Autonoe                            2001J1       JXXVIII"
"      529  Thyone                             2001J2       JXXIX"
"      530  Hermippe                           2001J3       JXXX"
"      531  Aitne                              2001J11      JXXXI"
"      532  Eurydome                           2001J4       JXXXII"
"      533  Euanthe                            2001J7       JXXXIII"
"      534  Euporie                            2001J10      JXXXIV"
"      535  Orthosie                           2001J9       JXXXV"
"      536  Sponde                             2001J5       JXXXVI"
"      537  Kale                               2001J8       JXXXVII"
"      538  Pasithee                           2001J6       JXXXVIII"
"      539  Hegemone                           2003J8       JXXXIX"
"      540  Mneme                              2003J21      JXL"
"      541  Aoede                              2003J7       JXLI"
"      542  Thelxinoe                          2003J22      JXLII"
"      543  Arche                              2002J1       JXLIII"
"      544  Kallichore                         2003J11      JXLIV"
"      545  Helike                             2003J6       JXLV"
"      546  Carpo                              2003J20      JXLVI"
"      547  Eukelade                           2003J1       JXLVII"
"      548  Cyllene                            2003J13      JXLVIII"
"      549  Kore                               2003J14      JXLIX"
"      550  Herse                              2003J17      JXLXII"
"      551                                     2010J1       JLI"
"      552                                     2010J2       JLII"
"      553  Dia                                2000J11      JLIII"
"      554                                     2016J1       JLIV"
"      555                                     2003J18      JLV 55069"
"      556                                     2011J2       JLVI 55075"
"      557                                     2003J5       JLVII 55063"
"      558                                     2003J15      JLVIII 55067"
"      559                                     2017J1       JLIX"
"    55060                                     2003J2"
"    55061                                     2003J3"
"    55062                                     2003J4"
"    55064                                     2003J9"
"    55065                                     2003J10"
"    55066                                     2003J12"
"    55068                                     2003J16"
"    55070                                     2003J19"
"    55071                                     2003J23"
"    55074                                     2011J1"
"      599  Jupiter"
"      601  Mimas                                           SI"
"      602  Enceladus                                       SII"
"      603  Tethys                                          SIII"
"      604  Dione                                           SIV"
"      605  Rhea                                            SV"
"      606  Titan                                           SVI"
"      607  Hyperion                                        SVII"
"      608  Iapetus                                         SVIII"
"      609  Phoebe                                          SIX"
"      610  Janus                                           SX"
"      611  Epimetheus                                      SXI"
"      612  Helene                                          SXII"
"      613  Telesto                                         SXIII"
"      614  Calypso                                         SXIV"
"      615  Atlas                                           SXV"
"      616  Prometheus                                      SXVI"
"      617  Pandora                                         SXVII"
"      618  Pan                                             SXVIII"
"      619  Ymir                               2000S1       SXIX"
"      620  Paaliaq                            2000S2       SXX"
"      621  Tarvos                             2000S4       SXXI"
"      622  Ijiraq                             2000S6       SXXII"
"      623  Suttungr                           2000S12      SXXIII"
"      624  Kiviuq                             2000S5       SXXIV"
"      625  Mundilfari                         2000S9       SXXV"
"      626  Albiorix                           2000S11      SXXVI"
"      627  Skathi                             2000S8       SXXVII"
"      628  Erriapus                           2000S10      SXXVIII"
"      629  Siarnaq                            2000S3       SXXIX"
"      630  Thrymr                             2000S7       SXXX"
"      631  Narvi                              2003S1       SXXXI"
"      632  Methone                            2004S1       SXXXII"
"      633  Pallene                            2004S2       SXXXIII"
"      634  Polydeuces                         2004S5       SXXXIV"
"      635  Daphnis                            2005S1       SXXXV"
"      636  Aegir                              2004S10      SXXXVI 65038"
"      637  Bebhionn                           2004S11      SXXXVII 65039"
"      638  Bergelmir                          2004S15      SXXXVIII 65043"
"      639  Bestla                             2004S18      SXXXIX 65046"
"      640  Farbauti                           2004S9       SXL 65037"
"      641  Fenrir                             2004S16      SXLI 65044"
"      642  Fornjot                            2004S8       SXLII 65036"
"      643  Hati                               2004S14      SXLIII"
"      644  Hyrrokkin                          2004S19      SXLIV"
"      645  Kari                               2006S2       SXLV"
"      646  Loge                               2006S5       SXLVI"
"      647  Skoll                              2006S8       SXLVII"
"      648  Surtur                             2006S7       SXLVIII"
"      649  Anthe                              2007S4       SXLIX"
"      650  Jarnsaxa                           2006S6       SL"
"      651  Greip                              2006S4       SLI"
"      652  Tarqeq                             2007S1       SLII"
"      653  Aegaeon                            2008S1       SLIII"
"    65035                                     2004S7"
"    65040                                     2004S12"
"    65041                                     2004S13"
"    65045                                     2004S17"
"    65048                                     2006S1"
"    65050                                     2006S3"
"    65055                                     2007S2"
"    65056                                     2007S3"
"      699  Saturn"
"      701  Ariel                                           UI"
"      702  Umbriel                                         UII"
"      703  Titania                                         UIII"
"      704  Oberon                                          UIV"
"      705  Miranda                                         UV"
"      706  Cordelia                                        UVI"
"      707  Ophelia                                         UVII"
"      708  Bianca                                          UVIII"
"      709  Cressida                                        UIX"
"      710  Desdemona                                       UX"
"      711  Juliet                                          UXI"
"      712  Portia                                          UXII"
"      713  Rosalind                                        UXIII"
"      714  Belinda                                         UXIV"
"      715  Puck                                            UXV"
"      716  Caliban                                         UXVI"
"      717  Sycorax                                         UXVII"
"      718  Prospero                           1999U3       UXVIII"
"      719  Setebos                            1999U1       UXIX"
"      720  Stephano                           1999U2       UXX"
"      721  Trinculo                           2001U1       UXXI"
"      722  Francisco                          2001U3       UXXII"
"      723  Margaret                           2003U3       UXXIII"
"      724  Ferdinand                          2001U2       UXXIV"
"      725  Perdita                            1986U10      UXXV"
"      726  Mab                                2003U1       UXXVI"
"      727  Cupid                              2003U2       UXXVII"
"      799  Uranus"
"      801  Triton                                          NI"
"      802  Nereid                                          NII"
"      803  Naiad                                           NIII"
"      804  Thalassa                                        NIV"
"      805  Despina                                         NV"
"      806  Galatea                                         NVI"
"      807  Larissa                                         NVII"
"      808  Proteus                                         NVIII"
"      809  Halimede                           2002N1"
"      810  Psamathe                           2003N1"
"      811  Sao                                2002N2"
"      812  Laomedeia                          2002N3"
"      813  Neso                               2002N4"
"      814  2004N1"
"      899  Neptune"
"      901  Charon                                          PI"
"      902  Nix                                             PII"
"      903  Hydra                                           PIII"
"      904  Kerberos                           2011P1"
"      905  Styx                               2012P1"
"      999  Pluto                              134340"
"       -2  Mariner 2 (spacecraft)"
"       -3  Mars Orbiter Mission (MOM) (spacec              Mangalyaan ISRO"
"       -5  Planet-C (spacecraft)                           VCO Akatsuki"
"       -6  Pioneer 6 (spacecraft)"
"      -12  LADEE (spacecraft)"
"      -18  LCROSS (spacecraft)"
"      -20  Pioneer 8 (spacecraft)"
"      -21  SOHO (spacecraft)"
"      -23  Pioneer 10 (spacecraft)"
"      -24  Pioneer 11 (spacecraft)"
"      -25  Lunar Prospector (LP) (spacecraft)"
"      -29  Stardust (bus) (spacecraft)                     NExT"
"   -29900  Stardust (SRC) (spacecraft)"
"      -30  Deep Space 1 (spacecraft)                       DS1 DS-1"
"      -31  Voyager 1 (spacecraft)"
"      -32  Voyager 2 (spacecraft)"
"      -37  Hayabusa 2 (spacecraft)"
"      -39  Ouna (spacecraft)"
"      -40  Clementine (spacecraft)                         DSPSE"
"      -41  Mars Express (spacecraft)                       MEX"
"      -47  Genesis (bus) (spacecraft)"
"      -48  Hubble Space Telescope                          HST (spacecraft)"
"   -47900  Genesis (SRC) (spacecraft)"
"      -53  Mars Odyssey (spacecraft)"
"      -55  Ulysses (spacecraft)"
"      -61  Juno (spacecraft)"
"      -64  OSIRIS-REx (spacecraft)                         ORX"
"      -70  Deep Impact IMPACTOR (spacecraft)"
"      -74  Mars Reconnaissance Orbiter (space              MRO"
"      -76  Mars Science Laboratory (spacecraf MSL"
"   -74900  MRO Centaur Stage (spacecraft)"
"      -77  Galileo (spacecraft)"
"      -78  DSCOVR (spacecraft)                             Triana"
"      -79  Spitzer Space Telescope                         SST SIRTF (spacecraf"
"      -82  Cassini (spacecraft)"
"      -84  Phoenix (spacecraft)"
"      -85  LRO (spacecraft)"
"      -86  CH1"
"      -93  NEAR (spacecraft)"
"      -98  New Horizons (spacecraft)                       NH New_Horizons"
"     -111  ICE (spacecraft)                                ISEE-3"
"     -130  Hayabusa (spacecraft)                           Muses-C"
"     -140  Deep Impact Flyby - EPOXI (spacecr              EPOXI"
"     -143  ExoMars TGO (spacecraft)"
"     -150  Cassini Huygens (spacecraft)"
"     -151  Chandra Observatory (spacecraft)"
"     -163  WISE (spacecraft)"
"     -165  WMAP (spacecraft)"
"     -170  James Webb Space Telescope (spacec              JWST"
"     -176  GRAIL-SS Second Stage (spacecraft)"
"     -177  GRAIL-A (spacecraft)                            Ebb"
"     -178  Nozomi (spacecraft)                             Planet-B"
"     -181  GRAIL-B (spacecraft)                            Flow"
"     -192  THEMIS-B (spacecraft)                           ARTEMIS-P1"
"     -193  THEMIS-C (spacecraft)                           ARTEMIS-P2"
"     -198  INTEGRAL (spacecraft)"
"     -202  MAVEN (spacecraft)"
"     -203  Dawn (spacecraft)"
"     -204  CONTOUR-A (SPACECRAFT FRAGMENT)"
"     -205  CONTOUR-B (SPACECRAFT FRAGMENT)"
"     -206  CONTOUR-C (SPACECRAFT FRAGMENT)"
"     -226  Rosetta (spacecraft)"
"     -227  Kepler (spacecraft)"
"     -234  STEREO-A (spacecraft)                           AHEAD"
"     -235  STEREO-B (spacecraft)                           BEHIND"
"  -234900  STEREO Third Stage (spacecraft)"
"     -236  MESSENGER (spacecraft)"
"     -248  Venus Express (spacecraft)                      VEX"
"     -253  Opportunity (spacecraft)                        MER"
"     -254  Spirit (spacecraft)                             MER"
"     -344  Galileo Probe (spacecraft)"
"     -486  Herschel Space Observatory (spacec"
"     -489  Planck Space Observatory (spacecra"
"     -557  Spektr-R Observatory (spacecraft)"
"     -610  Juno Centaur Stage (spacecraft)"
"     -640  Infrared Space Observatory (spacec              ISO"
"     -760  MSL Centaur Stage spacecraft"
"     -997  NEOCP 6Q0B44E                                   B44E"
"     -998  NEOCP J002E3"
"   -23230  ETS-6 (spacecraft)                              Kiku-6"
"  -399050  2015 PDC"
"  -399080  Apollo 8 S-IVB (spacecraft)"
"  -399090  Apollo 9 S-IVB (spacecraft)"
"  -399100  Apollo 10 S-IVB (spacecraft)"
"  -399101  Apollo 10 LM (spacecraft)                       Snoopy"
"  -399110  Apollo 11 S-IVB (spacecraft)"
"  -399120  Apollo 12 S-IVB (spacecraft)"
"  -108366  GOES-1 (spacecraft)"
"  -108820  LAGEOS-1 (spacecraft)"
"  -111353  FLTSATCOM 2 (spacecraft)"
"  -112065  SBS-1 (spacecraft)"
"  -112472  GOES-5 (spacecraft)"
"  -113631  SATCOM-C5 (spacecraft)             RCA-SATCOM-"
"  -114050  GOES-6 (spacecraft)"
"  -116908  AJISAI (spacecraft)"
"  -119548  TDRS-3 (spacecraft)"
"  -120452  NAVSTAR-18 (spacecraft)"
"  -122195  LAGEOS-2 (spacecraft)"
"  -122911  Solidaridad-1 (spacecraft)"
"  -122927  Telstar-401 (spacecraft)"
"  -123051  GOES-8 (spacecraft)"
"  -123553  AMSC-1 (spacecraft)"
"  -123846  MSAT-1 (spacecraft)"
"  -123754  Echostar-1 (spacecraft)"
"  -124313  Echostar-2 (spacecraft)"
"  -125126  HGS-1 (spacecraft)                              Asiasat-3 PAS-22"
"  -125544  International Space Station (space              ISS"
"  -125989  XMM-Newton (spacecraft)"
"  -126402  Echostar-6 (spacecraft)"
"  -126407  NAVSTAR-48 (spacecraft)"
"  -126639  AMC-8 (spacecraft)                              GE-8"
"  -127783  GALEX (spacecraft)"
"  -128485  Swift Observatory (spacecraft)"
"  -128868  Anik-F1R (spacecraft)"
"  -128884  Galaxy-15 (spacecraft)"
"  -129494  DirecTV-9S (spacecraft)"
"  -129520  XM-4 (spacecraft)"
"  -133207  Echostar-11 (spacecraft)"
"  -113269  WESTAR-5 (spacecraft)"
"  -134381  Kepler Booster (Third Stage) (spac"
"  -135491  GOES-14 (spacecraft)"
"  -136134"
"  -136395  Solar Dynamics Observatory (spacec              SDO"
"  -136499  Echostar-14 (spacecraft)"
"  -137218  SKYTERRA-1 (spacecraft)"
"  -137820  Tiangong-1 (spacecraft)"
"  -138250  BEIDOU-M3 (spacecraft)"
"  -138358  NuSTAR (spacecraft)                SMEX-11"
"  -138551  Echostar-17 (spacecraft)"
"  -138833  NAVSTAR-67 (spacecraft)"
"  -139166  NAVSTAR-68 (spacecraft)"
"  -139479  Gaia (spacecraft)"
"  -140482  MMS-1 (spacecraft)"
"  -140483  MMS-2 (spacecraft)"
"  -140484  MMS-3 (spacecraft)"
"  -140485  MMS-4 (spacecraft)"
"  -140663  DirecTV-15 (spacecraft)"
"  -141043  LISA Pathfinder (spacecraft)                    LPF"
"  -999742  LISA Pathfinder Propulsion Module               PRM"
"   999787  WT1190F"
"  -937001  2017 PDC                                        PDC17"
"  -937002  2017 PDCa                                       PDC17a"
"  1000012"
"  1000041  Hartley 2                          103P"
"  1000093"
"  1000107"
"  1003228  Siding Spring                      2013 A1"
"  9037734  ISON_NG1"
"  9037735  ISON_NG2"
"  2000001"
"  2000004"
"  2000433"
"  2006489  Golevka                            1991 JX      6489"
"  2101955"
"  2002867"
"  3430291  2008 TC3"
"  3713011"
"  9901490  9O0DC57 (spacecraft)"
"  9901885  9U01FF6 (spacecraft)"

"   Number of matches =  362. Use ID# to make unique selection."]
