[:S
 [:file-header
  [:revision-date
   [:date
    [:month "Jul"]
    [:day "31"]
    [:year "2013"]]]
  [:body-name "Earth"]
  [:body-id "399"]]
 [:physical-properties
  [:mean-radius "6371.01+-0.01"]
  [:mass "5.97219+-0.0006"]
  [:equatorial-radius "6378.14+-0.01"]
  [:polar-axis "6356.752"]
  [:atmospheric-mass "5.1   x 10^18"]
  [:flattening "1/298.257"]
  [:ocean-mass "1.4   x 10^21"]
  [:density "5.515"]
  [:crust-mass "2.6   x 10^22"]
  [:j2 "0.0010826265"]
  [:mantle-mass "4.043 x 10^24"]
  [:g-polar "9.8321863685"]
  [:outer-core-mass "1.835 x 10^24"]
  [:g-equatorial "9.7803267715"]
  [:inner-core-mass "9.675 x 10^22"]
  [:g-o "9.82022"]
  [:fluid-core-radius "3480"]
  [:standard-gravitational-parameter "398600.440"]
  [:inner-core-radius "1215"]
  [:rotation-rate "7.292115*10^-5"]
  [:sidereal-rotation-period "23.93419"]
  [:surface-area-land "1.48 x 10^8"]
  [:mean-solar-day "1.002738"]
  [:surface-area-sea "3.62 x 10^8"]
  [:moment-of-inertia "0.3308"]
  [:potential-love-k2 "0.299"]
  [:mean-temperature "270"]
  [:atmospheric-pressure "1.0"]
  [:solar-constant "1367.6"]
  [:visual-magnitude "-3.86"]
  [:volume "108.321"]
  [:geometric-albedo "0.367"]]
 [:dynamical-characteristics
  [:obliquity-to-orbit "23.45"]
  [:mean-sidereal-orbital-period-years "1.0000174"]
  [:orbit-velocity "29.7859"]
  [:mean-sidereal-orbital-period-days "365.25636"]
  [:mean-daily-motion "0.9856474"]
  [:escape-velocity "11.186"]
  [:hill-sphere-radius "234.9"]
  [:magnetic-moment "0.61"]]]
