[:S
 [:file-header
  [:revision-date
   [:date
    [:month "Jul"]
    [:day [:integer "31"]]
    [:year [:integer "2013"]]]]
  [:body-name "Earth"]
  [:body-id [:integer "399"]]]
 [:physical-properties
  [:mean-radius [:unit-KMT] [:value "6371.01+-0.01"]]
  [:mass [:exponent [:integer "24"]] [:unit-KGM "kg"] [:value "5.97219+-0.0006"]]
  [:equatorial-radius [:unit-KMT] [:value "6378.14+-0.01"]]
  [:polar-axis [:unit-KMT] [:value [:float "6356.752"]]]
  [:atmospheric-mass [:value [:sci-not [:significand [:float "5.1"]] [:exponent [:integer "18"]]]] [:unit-KGM "kg"]]
  [:flattening [:value "1/298.257"]]
  [:ocean-mass [:value [:sci-not [:significand [:float "1.4"]] [:exponent [:integer "21"]]]] [:unit-KGM "kg"]]
  [:density [:unit-23 "gm cm^-3"] [:value [:float "5.515"]]]
  [:crust-mass [:value [:sci-not [:significand [:float "2.6"]] [:exponent [:integer "22"]]]] [:unit-KGM "kg"]]
  [:j2 [:value [:float "0.0010826265"]]]
  [:mantle-mass [:value [:sci-not [:significand [:float "4.043"]] [:exponent [:integer "24"]]]] [:unit-KGM "kg"]]
  [:g-polar [:unit-MSK] [:value [:float "9.8321863685"]]]
  [:outer-core-mass [:value [:sci-not [:significand [:float "1.835"]] [:exponent [:integer "24"]]]] [:unit-KGM "kg"]]
  [:equatorial-gravity [:unit-MSK] [:value [:float "9.7803267715"]]]
  [:inner-core-mass [:value [:sci-not [:significand [:float "9.675"]] [:exponent [:integer "22"]]]] [:unit-KGM "kg"]]
  [:g-o [:unit-MSK] [:value [:float "9.82022"]]]
  [:fluid-core-radius [:value [:integer "3480"]] [:unit-KMT]]
  [:standard-gravitational-parameter [:value [:float "398600.440"]]]
  [:inner-core-radius [:value [:integer "1215"]] [:unit-KMT]]
  [:rotation-rate [:unit-2A] [:value [:sci-not [:significand [:float "7.292115"]] [:exponent [:integer "-5"]]]]]
  [:sidereal-rotation-period [:value [:float "23.93419"]]]
  [:surface-area-land [:value [:sci-not [:significand [:float "1.48"]] [:exponent [:integer "8"]]]] [:unit-KMT]]
  [:mean-solar-day [:value [:float "1.002738"]]]
  [:surface-area-sea [:value [:sci-not [:significand [:float "3.62"]] [:exponent [:integer "8"]]]] [:unit-KMT]]
  [:moment-of-inertia [:value [:float "0.3308"]]]
  [:potential-love-k2 [:value [:float "0.299"]]]
  [:mean-temperature [:unit-KEL "K"] [:value [:integer "270"]]]
  [:atmospheric-pressure [:value [:float "1.0"]] [:unit-BAR "bar"]]
  [:solar-constant [:value [:float "1367.6"]]]
  [:visual-magnitude [:value [:float "-3.86"]]]
  [:volume [:exponent [:integer "10"]] [:unit-H20 "km^3"] [:value [:float "108.321"]]]
  [:geometric-albedo [:value [:float "0.367"]]]]
 [:dynamical-characteristics
  [:obliquity-to-orbit [:unit-DD "deg"] [:value [:float "23.45"]]]
  [:mean-sidereal-orbital-period-years [:float "1.0000174"]]
  [:orbit-velocity [:unit-M62] [:value [:float "29.7859"]]]
  [:mean-sidereal-orbital-period-days [:float "365.25636"]]
  [:mean-daily-motion [:value [:float "0.9856474"]]]
  [:escape-velocity [:value [:float "11.186"]] [:unit-M62]]
  [:hill-sphere-radius [:value [:float "234.9"]]]
  [:magnetic-moment [:value [:float "0.61"]]]]]
