[:S
 [:file-header
  [:revision-date
   [:date
    [:month "Sep"]
    [:day [:integer "13"]]
    [:year [:integer "2016"]]]]
  [:body-name "Jupiter"]
  [:body-id [:integer "599"]]]
 [:geophysical-data
  [:mass [:exponent [:integer "24"]] [:unit-KGM] [:value "1898.13+-.19"]]
  [:density [:unit-23] [:value [:float "1.326"]]]
  [:equatorial-radius [:value "71492+-4"] [:unit-KMT]]
  [:polar-radius [:unit-KMT] [:value "66854+-10"]]
  [:mean-radius [:value "69911+-6"] [:unit-KMT]]
  [:flattening [:value [:float "0.06487"]]]
  [:sidereal-rotation-period
   [:value
    [:duration
     [:hours [:integer "9"]]
     [:minutes [:integer "55"]]
     [:seconds [:integer "29"]]
     [:milliseconds [:integer "685"]]]]]
  [:rotation-rate [:exponent [:integer "-4"]] [:unit-2A] [:value [:float "1.75865"]]]
  [:m [:value [:float "0.089195"]]]
  [:hydrostatic-flattening [:value [:float "0.06509"]]]
  [:inferred-rotation-period
   [:value
    [:duration
     [:hours "9.894+-0.02"]]]]
  [:ks [:value [:float "0.494"]]]
  [:moment-of-inertia [:value [:float "0.254"]]]
  [:monent-of-inertia-upper-bound [:value [:float "0.267"]]]
  [:rocky-core-mass [:value [:float "0.0261"]]]
  [:y-factor [:value "0.18+-0.04"]]
  [:standard-gravitational-parameter [:value [:integer [:comma-separated-integer "126,686,511"]]]]
  [:gm-1-sigma [:value "+-100"]]
  [:equatorial-gravity [:unit-MSK] [:value [:float "24.79"]]]
  [:g-polar [:unit-MSK] [:value [:float "28.34"]]]
  [:geometric-albedo [:value [:float "0.52"]]]
  [:visual-magnitude [:value [:float "-9.40"]]]
  [:visual-magnitude-opposition [:value [:float "-2.70"]]]
  [:obliquity-to-orbit [:value [:float "3.12"]] [:unit-DD]]
  [:mean-sidereal-orbital-period-years [:float "11.862615"]]
  [:mean-sidereal-orbital-period-days [:float "4332.820"]]
  [:mean-daily-motion [:value [:float "0.0831294"]]]
  [:orbit-velocity [:value [:float "13.0697"]] [:unit-M62]]
  [:mean-temperature [:value "165+-5"] [:unit-KEL]]
  [:heat-flow-mass [:exponent [:integer "7"]] [:value [:integer "15"]] [:unit-A62]]
  [:solar-constant [:value [:float "50.5"]] [:unit-D54]]
  [:dipole-tilt-offset [:value "9.6deg/0.1Rp"]]
  [:escape-velocity [:unit-M62] [:value [:float "59.5"]]]
  [:magnetic-moment [:value [:float "4.2"]]]
  [:a-roche-ice [:value [:float "2.76"]]]
  [:hill-sphere-radius [:value [:integer "740"]]]]]
