[:S
 [:file-header
  [:revision-date
   [:date
    [:month "Sep"]
    [:day [:integer "13"]]
    [:year [:integer "2016"]]]]
  [:body-name "Jupiter"]
  [:body-id [:integer "599"]]]
 [:geophysical-data
  [:mass [:exponent [:integer "24"]] [:value "1898.13+-.19"]]
  [:density [:value [:float "1.326"]]]
  [:equatorial-radius [:value "71492+-4"] [:unit-KMT "km"]]
  [:polar-radius "66854+-10"]
  [:mean-radius "69911+-6" [:unit-KMT "km"]]
  [:flattening [:value [:float "0.06487"]]]
  [:sidereal-rotation-period
   [:duration
    [:hours [:integer "9"]]
    [:minutes [:integer "55"]]
    [:seconds [:integer "29"]]
    [:milliseconds [:integer "685"]]]]
  [:rotation-rate [:exponent [:integer "-4"]] [:float "1.75865"]]
  [:m [:float "0.089195"]]
  [:hydrostatic-flattening [:float "0.06509"]]
  [:inferred-rotation-period
   [:duration
    [:hours "9.894+-0.02"]]]
  [:ks [:float "0.494"]]
  [:moment-of-inertia [:float "0.254"]]
  [:monent-of-inertia-upper-bound [:float "0.267"]]
  [:rocky-core-mass [:float "0.0261"]]
  [:y-factor "0.18+-0.04"]
  [:standard-gravitational-parameter [:integer [:comma-separated-integer "126,686,511"]]]
  [:gm-1-sigma "+-100"]
  [:g-equatorial [:float "24.79"]]
  [:g-polar [:float "28.34"]]
  [:geometric-albedo [:float "0.52"]]
  [:visual-magnitude [:float "-9.40"]]
  [:visual-magnitude-opposition [:float "-2.70"]]
  [:obliquity-to-orbit [:float "3.12"]]
  [:mean-sidereal-orbital-period-years [:float "11.862615"]]
  [:mean-sidereal-orbital-period-days [:float "4332.820"]]
  [:mean-daily-motion [:float "0.0831294"]]
  [:orbit-velocity [:float "13.0697"]]
  [:mean-temperature "165+-5"]
  [:heat-flow-mass [:exponent [:integer "7"]] [:integer "15"]]
  [:solar-constant [:float "50.5"]]
  [:dipole-tilt-offset [:value "9.6deg/0.1Rp"]]
  [:escape-velocity [:value [:float "59.5"]]]
  [:magnetic-moment [:float "4.2"]]
  [:a-roche-ice [:value [:float "2.76"]]]
  [:hill-sphere-radius [:integer "740"]]]]
