[:S
 [:time-frame
  [:start-time
   [:timestamp
    [:era "A.D."]
    [:date
     [:year [:integer "2017"]]
     [:month "Mar"]
     [:day [:integer "26"]]]
    [:time
     [:hour-of-day [:integer "00"]]
     [:minute-of-hour [:integer "00"]]
     [:second-of-minute [:integer "00"]]
     [:millisecond-of-second [:integer "0000"]]]
    [:time-zone "TDB"]]]
  [:stop-time
   [:timestamp
    [:era "A.D."]
    [:date
     [:year [:integer "2017"]]
     [:month "Apr"]
     [:day [:integer "09"]]]
    [:time
     [:hour-of-day [:integer "00"]]
     [:minute-of-hour [:integer "00"]]
     [:second-of-minute [:integer "00"]]
     [:millisecond-of-second [:integer "0000"]]]
    [:time-zone "TDB"]]]
  [:step-size
   [:duration
    [:minutes [:integer "60"]]]]]

 [:ephemeredes
  [:ephemeris
   [:julian-day-number [:float "2457838.500000000"]]
   [:timestamp
    [:era "A.D."]
    [:date
     [:year [:integer "2017"]]
     [:month "Mar"]
     [:day [:integer "26"]]]
    [:time
     [:hour-of-day [:integer "00"]]
     [:minute-of-hour [:integer "00"]]
     [:second-of-minute [:integer "00"]]
     [:millisecond-of-second [:integer "0000"]]]
    [:time-zone "TDB"]]
   [:x-position [:sci-not [:significand [:float "2.469362459741699"]] [:exponent [:integer "+08"]]]]
   [:y-position [:sci-not [:significand [:float "2.163270043150773"]] [:exponent [:integer "+08"]]]]
   [:z-position [:sci-not [:significand [:float "1.830259394692242"]] [:exponent [:integer "+06"]]]]
   [:x-velocity [:sci-not [:significand [:float "-1.998813030648808"]] [:exponent [:integer "+06"]]]]
   [:y-velocity [:sci-not [:significand [:float "3.666065138258934"]] [:exponent [:integer "+06"]]]]
   [:z-velocity [:sci-not [:significand [:float "6.696681569533017"]] [:exponent [:integer "+04"]]]]
   [:lt [:sci-not [:significand [:float "1.267450720461575"]] [:exponent [:integer "-02"]]]]
   [:range [:sci-not [:significand [:float "3.282959521852242"]] [:exponent [:integer "+08"]]]]
   [:range-rate [:sci-not [:significand [:float "9.126279731446180"]] [:exponent [:integer "+05"]]]]]]]


