[:S
 [:file-header
  [:revision-date
   [:date
    [:month "Sep"]
    [:day [:integer "28"]]
    [:year [:integer "2012"]]]]
  [:body-name "Mars"]
  [:body-id [:integer "499"]]]
 [:geophysical-data
  [:mean-radius [:unit-KMT] [:value "3389.9(2+-4)"],]
  [:density [:unit-23 "g cm^-3"] [:value "3.933(5+-4)"],]
  [:mass [:exponent [:integer "23"]] [:unit-KGM "kg"] [:value [:float "6.4185"]]]
  [:flattening [:value "1/154.409"]]
  [:volume [:exponent [:integer "10"]] [:unit-H20 "km^3"] [:value [:float "16.318"]]]
  [:semi-major-axis [:value "3397+-4"]]
  [:sidereal-rotation-period [:value [:duration [:hours [:float "24.622962"]]]]]
  [:rotation-rate [:exponent [:integer "5"]] [:unit-SEC] [:value [:float "7.088218"]]]
  [:mean-solar-day [:value [:duration [:days [:float "1.0274907"]]]]]
  [:polar-gravity [:unit-MSK] [:value [:float "3.758"]]]
  [:moment-of-inertia [:value [:float "0.366"]]]
  [:equatorial-gravity [:unit-MSK] [:value [:float "3.71"]]]
  [:core-radius [:unit-KMT] [:value "~1700"]]
  [:potential-love-k2 [:value "0.153 +-.017"]]

  [:grav-spectral-fact [:value [:sci-not [:significand [:integer "14"]] [:exponent [:integer "5"]]]]]
  [:topo-spectral-fact [:value [:sci-not [:significand [:integer "96"]] [:exponent [:integer "5"]]]]]
  [:fig-offset [:value "2.50+-0.07"] [:unit-KMT]]
  [:offset [:value "62d / 88d"]]
  [:standard-gravitational-parameter [:value [:float "42828.3"]]]
  [:equatorial-radius [:value [:float "3394.0"]] [:unit-KMT]]
  [:gm-1-sigma [:value "+- 0.1"]]
  [:mass-ratio-from-sun [:value "3098708+-9"]]

  [:atmospheric-pressure [:unit-BAR "bar"] [:value [:float "0.0056"]]]
  [:maximum-angular-diameter [:value "17.9\""]]
  [:mean-temperature [:unit-KEL "K"] [:value [:integer "210"]]]
  [:visual-magnitude [:value [:float "-1.52"]]]
  [:geometric-albedo [:value [:float "0.150"]]]
  [:obliquity-to-orbit [:value [:float "25.19"]] [:unit-DD "deg"]]
  [:mean-sidereal-orbital-period-years [:float "1.88081578"]]
  [:orbit-velocity [:unit-M62] [:value [:float "24.1309"]]]
  [:mean-sidereal-orbital-period-days [:float "686.98"]]
  [:escape-velocity [:unit-M62] [:value [:float "5.027"]]]
  [:hill-sphere-radius [:value [:float "319.8"]]]
  [:magnetic-moment [:value "< 1x10^-4"]]]]
