[:S
 [:file-header
  [:revision-date
   [:date
    [:month "Sep"]
    [:day [:integer "28"]]
    [:year [:integer "2012"]]]]
  [:body-name "Mars"]
  [:body-id [:integer "499"]]]
 [:geophysical-data
  [:mean-radius "3389.9(2+-4)"],
  [:density "3.933(5+-4)"],
  [:mass [:float "6.4185"],]
  [:flattening "1/154.409"]
  [:volume [:float "16.318"]]
  [:semi-major-axis "3397+-4"]
  [:sidereal-rotation-period [:duration [:hours [:float "24.622962"]]]]
  [:rotation-rate [:float "7.088218"]]
  [:mean-solar-day [:float "1.0274907"]]
  [:polar-gravity [:float "3.758"]]
  [:moment-of-inertia [:float "0.366"]]
  [:equatorial-gravity [:float "3.71"]]
  [:core-radius "~1700"]
  [:potential-love-k2 "0.153 +-.017"]

  [:grav-spectral-fact "14 (x10^5)"]
  [:topo-spectral-fact "96 (x10^5)"]
  [:fig-offset "2.50+-0.07"]
  [:offset "62d / 88d"]
  [:standard-gravitational-parameter [:float "42828.3"]]
  [:equatorial-radius [:float "3394.0"]]
  [:gm-1-sigma "+- 0.1"]
  [:mass-ratio-from-sun  "3098708+-9"]

  [:atmospheric-pressure [:float "0.0056"]]
  [:maximum-angular-diameter "17.9\""]
  [:mean-temperature [:integer "210"]]
  [:visual-magnitude [:float "-1.52"]]
  [:geometric-albedo [:float "0.150"]]
  [:obliquity-to-orbit [:float "25.19"]]
  [:mean-sidereal-orbital-period-years [:float "1.88081578"]]
  [:orbit-velocity [:float "24.1309"]]
  [:mean-sidereal-orbital-period-days [:float "686.98"]]
  [:escape-velocity [:float "5.027"]]
  [:hill-sphere-radius [:float "319.8"]]
  [:magnetic-moment "< 1x10^-4"]]]
