[:S
 [:file-header
  [:revision-date
   [:date
    [:month "Sep"]
    [:day "28"]
    [:year "2012"]]]
  [:body-name "Mars"]
  [:body-id "499"]]
 [:geophysical-data
  [:mean-radius "3389.9(2+-4)"],
  [:density "3.933(5+-4)"],
  [:mass "6.4185"],
  [:flattening "1/154.409"]
  [:volume "16.318"]
  [:semi-major-axis "3397+-4"]
  [:sidereal-rotation-period [:duration [:hours "24.622962"]]]
  [:rotation-rate "7.088218"]
  [:mean-solar-day "1.0274907"]
  [:polar-gravity "3.758"]
  [:moment-of-inertia "0.366"]
  [:equatorial-gravity "3.71"]
  [:core-radius "~1700"]
  [:potential-love-k2 "0.153 +-.017"]

  [:grav-spectral-fact "14 (x10^5)"]
  [:topo-spectral-fact "96 (x10^5)"]
  [:fig-offset "2.50+-0.07"]
  [:offset "62d / 88d"]
  [:standard-gravitational-parameter "42828.3"]
  [:equatorial-radius "3394.0"]
  [:gm-1-sigma "+- 0.1"]
  [:mass-ratio-from-sun  "3098708+-9"]

  [:atmospheric-pressure "0.0056"]
  [:maximum-angular-diameter "17.9\""]
  [:mean-temperature "210"]
  [:visual-magnitude "-1.52"]
  [:geometric-albedo "0.150"]
  [:obliquity-to-orbit "25.19"]
  [:mean-sidereal-orbital-period-years "1.88081578"]
  [:orbit-velocity "24.1309"]
  [:mean-sidereal-orbital-period-days "686.98"]
  [:escape-velocity "5.027"]
  [:hill-sphere-radius "319.8"]
  [:magnetic-moment "< 1x10^-4"]]]
