[:S
 [:file-header
  [:revision-date
   [:date
    [:month "Jul"]
    [:day [:integer "31"]]
    [:year [:integer "2013"]]]]
  [:body-name "Mercury"]
  [:body-id [:integer "199"]]]
 [:geophysical-data
  [:mean-radius [:unit-KMT] [:value "2440(+-1)"]]
  [:density [:unit-23] [:value [:float "5.427"]]]
  [:mass [:exponent [:integer "23"]] [:unit-KGM] [:value [:float "3.302"]]]
  [:flattening]
  [:volume [:exponent [:integer "10"]] [:unit-H20] [:value [:float "6.085"]]]
  [:semi-major-axis]
  [:sidereal-rotation-period [:value [:duration [:days [:float "58.6462"]]]]]
  [:rotation-rate [:exponent [:integer "5"]] [:unit-SEC] [:value [:float "0.124001"]]]
  [:mean-solar-day [:value [:duration [:days [:float "175.9421"]]]]]
  [:polar-gravity [:unit-MSK]]
  [:moment-of-inertia [:value [:float "0.33"]]]
  [:equatorial-gravity [:unit-MSK] [:value [:float "3.701"]]]
  [:core-radius [:unit-KMT] [:value "~1600"]]
  [:potential-love-k2]

  [:standard-gravitational-parameter [:value [:float "22032.09"]]]
  [:equatorial-radius [:value [:integer "2440"]] [:unit-KMT]]
  [:gm-1-sigma [:value "+-0.91"]]
  [:mass-ratio-from-sun [:value [:integer "6023600"]]]

  [:atmospheric-pressure [:unit-BAR]]
  [:maximum-angular-diameter [:value "11.0\""]]
  [:mean-temperature [:unit-KEL]]
  [:visual-magnitude [:value [:float "-0.42"]]]
  [:geometric-albedo [:value [:float "0.106"]]]
  [:obliquity-to-orbit [:value "2.11' +/- 0.1'"]]
  [:mean-sidereal-orbital-period-years [:float "0.2408467"]]
  [:orbit-velocity [:unit-M62] [:value [:float "47.362"]]]
  [:mean-sidereal-orbital-period-days [:float "87.969257"]]
  [:escape-velocity [:unit-M62] [:value [:float "4.435"]]]
  [:hill-sphere-radius [:value [:float "94.4"]]]
  [:solar-constant [:value [:float "9936.9"]] [:unit-D54]]]]
