[:S
 [:file-header
  [:revision-date
   [:date
    [:month "Jun"]
    [:day [:integer "17"]]
    [:year [:integer "2016"]]]]
  [:body-name "Saturn"]
  [:body-id [:integer "699"]]]
 [:geophysical-data
  [:mass [:exponent [:integer "26"]] [:unit-KGM] [:value [:float "5.68319"]]]
  [:density [:unit-23] [:value "0.687+-.001"]]
  [:equatorial-radius [:value "60268+-4"] [:unit-KMT]]
  [:polar-radius [:unit-KMT] [:value "54364+-10"]]
  [:mean-radius [:value "58232+-6"] [:unit-KMT]]
  [:flattening [:value [:float "0.09796"]]]
  [:sidereal-rotation-period
   [:value
    [:duration
     [:hours [:integer "10"]]
     [:minutes [:integer "39"]]
     [:seconds [:integer "22"]]
     [:milliseconds [:integer "4"]]]]]
  [:rotation-rate [:exponent [:integer "-4"]] [:unit-2A] [:value [:float "1.63785"]]]
  [:m [:value [:float "0.15481"]]]
  [:hydrostatic-flattening [:value [:float "0.09829"]]]
  [:inferred-rotation-period [:value [:duration [:hours "10.61+-0.02"]]]]
  [:ks [:value [:float "0.317"]]]
  [:moment-of-inertia [:value [:float "0.210"]]]
  [:monent-of-inertia-upper-bound [:value [:float "0.231"]]]
  [:rocky-core-mass [:value [:float "0.1027"]]]
  [:y-factor]
  [:standard-gravitational-parameter [:value [:float "37931207.8"]]]
  [:gm-1-sigma [:value "+- 98"]]
  [:equatorial-gravity [:unit-MSK] [:value [:float "10.44"]]]
  [:g-polar [:unit-MSK] [:value "12.14+-0.01"]]
  [:geometric-albedo [:value [:float "0.47"]]]
  [:visual-magnitude [:value [:float "-8.88"]]]
  [:visual-magnitude-opposition [:value [:float "0.67"]]]
  [:obliquity-to-orbit [:value [:float "26.73"]] [:unit-DD]]
  [:mean-sidereal-orbital-period-years [:float "29.447498"]]
  [:mean-sidereal-orbital-period-days [:float "10755.698"]]
  [:mean-daily-motion [:value [:float "0.0334979"]]]
  [:orbit-velocity [:value [:float "9.6624"]] [:unit-M62]]
  [:mean-temperature [:value "134+-4"] [:unit-KEL]]
  [:heat-flow-mass [:exponent [:integer "7"]] [:value [:integer "15"]] [:unit-A62]]
  [:solar-constant [:value [:float "15.04"]] [:unit-D54]]
  [:dipole-tilt-offset [:value "0.0deg/0.0Rp"]]
  [:escape-velocity [:unit-M62] [:value [:float "35.5"]]]
  [:magnetic-moment [:value [:float "0.21"]]]
  [:a-roche-ice [:value [:float "2.71"]]]
  [:hill-sphere-radius [:value [:integer "1100"]]]]]
