[:S
 [:file-header
  [:revision-date
   [:date
    [:month "Jun"]
    [:day [:integer "17"]]
    [:year [:integer "2016"]]]]
  [:body-name "Saturn"]
  [:body-id [:integer "699"]]]
 [:geophysical-data
  [:mass [:exponent [:integer "26"]] [:float "5.68319"]]
  [:density "0.687+-.001"]
  [:equatorial-radius "60268+-4"]
  [:polar-radius "54364+-10"]
  [:mean-radius "58232+-6"]
  [:flattening [:float "0.09796"]]
  [:sidereal-rotation-period
   [:duration
    [:hours [:integer "10"]]
    [:minutes [:integer "39"]]
    [:seconds [:integer "22"]]
    [:milliseconds [:integer "4"]]]]
  [:rotation-rate [:float "1.63785"]]
  [:m [:float "0.15481"]]
  [:hydrostatic-flattening [:float "0.09829"]]
  [:inferred-rotation-period [:duration [:hours "10.61+-0.02"]]]
  [:ks [:float "0.317"]]
  [:moment-of-inertia [:float "0.210"]]
  [:monent-of-inertia-upper-bound [:float "0.231"]]
  [:rocky-core-mass [:float "0.1027"]]
  [:y-factor]
  [:standard-gravitational-parameter [:float "37931207.8"]]
  [:gm-1-sigma "+- 98"]
  [:g-equatorial [:float "10.44"]]
  [:g-polar "12.14+-0.01"]
  [:geometric-albedo [:float "0.47"]]
  [:visual-magnitude [:float "-8.88"]]
  [:visual-magnitude-opposition [:float "0.67"]]
  [:obliquity-to-orbit [:float "26.73"]]
  [:mean-sidereal-orbital-period-years [:float "29.447498"]]
  [:mean-sidereal-orbital-period-days [:float "10755.698"]]
  [:mean-daily-motion [:float "0.0334979"]]
  [:orbit-velocity [:float "9.6624"]]
  [:mean-temperature "134+-4"]
  [:heat-flow-mass [:integer "15"]]
  [:solar-constant [:float "15.04"]]
  [:dipole-tilt-offset "0.0deg/0.0Rp"]
  [:escape-velocity [:float "35.5"]]
  [:magnetic-moment [:float "0.21"]]
  [:a-roche-ice [:float "2.71"]]
  [:hill-sphere-radius [:integer "1100"]]]]
