[:S
 [:file-header
  [:revision-date
   [:date
    [:month "Jul"]
    [:day [:integer "31"]]
    [:year [:integer "2013"]]]]
  [:body-name "Venus"]
  [:body-id [:integer "299"]]]
 [:geophysical-data
  [:mean-radius [:unit-KMT "km"] "6051.8(4+-1)"]
  [:density [:float "5.204"]]
  [:mass [:exponent [:integer "23"]] [:float "48.685"]]
  [:flattening]
  [:volume [:exponent [:integer "10"]] [:float "92.843"]]
  [:semi-major-axis]
  [:sidereal-rotation-period [:duration [:days [:float "-243.0185"]]]]
  [:rotation-rate [:exponent [:integer "5"]] [:float "-0.029924"]]
  [:mean-solar-day [:float "116.7490"]]
  [:polar-gravity]
  [:moment-of-inertia [:float "0.33"]]
  [:equatorial-gravity [:float "8.870"]]
  [:core-radius "~3200"]
  [:potential-love-k2 [:float "0.25"]]
  [:grav-spectral-fact [:float "1.5"]]
  [:topo-spectral-fact [:integer "23"]]
  [:fig-offset "0.19+-01"]
  [:offset "11/102"]
  [:standard-gravitational-parameter [:float "324858.63"]]
  [:equatorial-radius [:float "6051.893"] [:unit-KMT "km"]]
  [:gm-1-sigma "+-0.04"]
  [:mass-ratio-from-sun [:float "408523.72"]]
  [:atmospheric-pressure [:integer "90"]]
  [:maximum-angular-diameter "60.2\""]
  [:mean-temperature [:integer "735"]]
  [:visual-magnitude [:float "-4.40"]]
  [:geometric-albedo [:float "0.65"]]
  [:obliquity-to-orbit [:float "177.3"]]
  [:mean-sidereal-orbital-period-years [:float "0.61519726"]]
  [:orbit-velocity [:float "35.0214"]]
  [:mean-sidereal-orbital-period-days [:float "224.70079922"]]
  [:escape-velocity [:float "10.361"]]
  [:hill-sphere-radius [:float "167.1"]]
  [:solar-constant [:float "2613.9"]]]]
