[:S
 [:file-header
  [:revision-date
   [:date
    [:month "Jul"]
    [:day [:integer "31"]]
    [:year [:integer "2013"]]]]
  [:body-name "Venus"]
  [:body-id [:integer "299"]]]
 [:geophysical-data
  [:mean-radius [:unit-KMT] [:value [:float "6051.8"]]]
  [:density [:unit-23] [:value [:float "5.204"]]]
  [:mass [:exponent [:integer "23"]] [:unit-KGM] [:value [:float "48.685"]]]
  [:flattening]
  [:volume [:exponent [:integer "10"]] [:unit-H20] [:value [:float "92.843"]]]
  [:semi-major-axis]
  [:sidereal-rotation-period [:value [:duration [:days [:float "-243.0185"]]]]]
  [:rotation-rate [:exponent [:integer "5"]] [:unit-SEC] [:value [:float "-0.029924"]]]
  [:mean-solar-day [:value [:duration [:days [:float "116.7490"]]]]]
  [:polar-gravity [:unit-MSK]]
  [:moment-of-inertia [:value [:float "0.33"]]]
  [:equatorial-gravity [:unit-MSK] [:value [:float "8.870"]]]
  [:core-radius [:unit-KMT] [:value "~3200"]]
  [:potential-love-k2 [:value [:float "0.25"]]]
  [:grav-spectral-fact [:value [:float "1.5"]]]
  [:topo-spectral-fact [:value [:integer "23"]]]
  [:fig-offset [:value "0.19+-01"]]
  [:offset [:value "11/102"]]
  [:standard-gravitational-parameter [:value [:float "324858.63"]]]
  [:equatorial-radius [:value [:float "6051.893"]] [:unit-KMT]]
  [:gm-1-sigma [:value "+-0.04"]]
  [:mass-ratio-from-sun [:value [:float "408523.72"]]]
  [:atmospheric-pressure [:unit-BAR] [:value [:integer "90"]]]
  [:maximum-angular-diameter [:value [:float "60.2"]] [:unit-D62]]
  [:mean-temperature [:unit-KEL] [:value [:integer "735"]]]
  [:visual-magnitude [:value [:float "-4.40"]]]
  [:geometric-albedo [:value [:float "0.65"]]]
  [:obliquity-to-orbit [:value [:float "177.3"]] [:unit-DD]]
  [:mean-sidereal-orbital-period-years [:float "0.61519726"]]
  [:orbit-velocity [:unit-M62] [:value [:float "35.0214"]]]
  [:mean-sidereal-orbital-period-days [:float "224.70079922"]]
  [:escape-velocity [:unit-M62] [:value [:float "10.361"]]]
  [:hill-sphere-radius [:value [:float "167.1"]]]
  [:solar-constant [:value [:float "2613.9"]] [:unit-D54]]]]
